* {
  margin: 0;
  padding: 0;
}
body {
  background: url(https://media.giphy.com/media/eJmUEoeU1K4d4IUbpS/giphy-downsized-large.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 100px;
  border-style: inset;
  border-radius: 10px;
}
.App h1 {
  font-size: 10rem;
}
.App button {
  margin: 5px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.App button:hover {
  background-color: #3e8e41;
}

.App button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
